<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Stupid Coaching</title>
</head>
<body>
    <div class="container">
    <h1>Stupid Coaching</h1>
    <p class="answer">Ask your coach anything</p>

    <form action="/answer" method="get">
        <input type="text" class="box" name="question" placeholder="">
        <input type="submit" class="button" value="Ask!">
    </form>
  </div>
</body>
</html>
